%main.container-fluid
  .row.my-2
    .col-4
      %span.small.text-secondary 約 100 件 (0.63 秒)
    .col-8
      %form.form-inline.justify-content-end
        %input.form-control.form-control-sm.mr-sm-2.w-25{type: "search"}
        -# 通常検索
        %button.btn.btn-success.btn-sm.my-2.my-sm-0 Comparison
  .row.justify-content-center
    .table-responsive
      %table.table.table-striped.table-hover
        %thead.thead-dark
          %tr
            %th{scope: "col"} rec
            %th{scope: "col"} thumnail
            %th{scope: "col"} itemName
            %th{scope: "col"} itemCode
            %th{scope: "col"} shopName
            %th{scope: "col"} reviewCount
            %th{scope: "col"} reviewAverage
            %th{scope: "col"} itemPrice
            %th{scope: "col"} pointRate
            %th{scope: "col"} realPrice
            %th{scope: "col"} comparison
        %tbody
          %tr
            %th{scope: "row"} 1
            %td
              = link_to 'https://www.hermanmiller.com/ja_jp/products/seating/office-chairs/aeron-chairs/', target: :blank do
                = image_tag 'aeron_chairs.jpg', alt: 'aeron_chaires', class: 'img-thumbnail', width: '200px'
            %td aeron cahirs
            %td 12345-67890
            %td herman miller
            %td 999999
            %td 4.89
            %td 200,000
            %td 10
            %td 180,000
            %td -1000
          %tr
            %th{scope: "row"} 1
            %td
              = link_to 'https://www.hermanmiller.com/ja_jp/products/seating/office-chairs/embody-chairs/', target: :blank do
                = image_tag 'embody_chairs.jpg', alt: 'embody_chaires', class: 'img-thumbnail', width: '200px'
            %td embody cahirs
            %td 12345-67890
            %td herman miller
            %td 999999
            %td 4.89
            %td 200,000
            %td 10
            %td 180,000
            %td -1000
          %tr
            %th{scope: "row"} 1
            %td
              = link_to 'https://www.hermanmiller.com/ja_jp/products/seating/office-chairs/sayl-chairs/', target: :blank do
                = image_tag 'sayl_chairs.jpg', alt: 'sayl_chaires', class: 'img-thumbnail', width: '200px'
            %td sayle cahirs
            %td 12345-67890
            %td herman miller
            %td 999999
            %td 4.89
            %td 200,000
            %td 10
            %td 180,000
            %td -1000
          %tr
            %th{scope: "row"} 1
            %td
              = link_to 'https://www.hermanmiller.com/ja_jp/products/seating/office-chairs/aeron-chairs/', target: :blank do
                = image_tag 'aeron_chairs.jpg', alt: 'aeron_chaires', class: 'img-thumbnail', width: '200px'
            %td aeron cahirs
            %td 12345-67890
            %td herman miller
            %td 999999
            %td 4.89
            %td 200,000
            %td 10
            %td 180,000
            %td -1000
          %tr
            %th{scope: "row"} 1
            %td
              = link_to 'https://www.hermanmiller.com/ja_jp/products/seating/office-chairs/embody-chairs/', target: :blank do
                = image_tag 'embody_chairs.jpg', alt: 'embody_chaires', class: 'img-thumbnail', width: '200px'
            %td embody cahirs
            %td 12345-67890
            %td herman miller
            %td 999999
            %td 4.89
            %td 200,000
            %td 10
            %td 180,000
            %td -1000
          %tr
            %th{scope: "row"} 1
            %td
              = link_to 'https://www.hermanmiller.com/ja_jp/products/seating/office-chairs/sayl-chairs/', target: :blank do
                = image_tag 'sayl_chairs.jpg', alt: 'sayl_chaires', class: 'img-thumbnail', width: '200px'
            %td sayle cahirs
            %td 12345-67890
            %td herman miller
            %td 999999
            %td 4.89
            %td 200,000
            %td 10
            %td 180,000
            %td -1000
          %tr
            %th{scope: "row"} 1
            %td
              = link_to 'https://www.hermanmiller.com/ja_jp/products/seating/office-chairs/aeron-chairs/', target: :blank do
                = image_tag 'aeron_chairs.jpg', alt: 'aeron_chaires', class: 'img-thumbnail', width: '200px'
            %td aeron cahirs
            %td 12345-67890
            %td herman miller
            %td 999999
            %td 4.89
            %td 200,000
            %td 10
            %td 180,000
            %td -1000
          %tr
            %th{scope: "row"} 1
            %td
              = link_to 'https://www.hermanmiller.com/ja_jp/products/seating/office-chairs/embody-chairs/', target: :blank do
                = image_tag 'embody_chairs.jpg', alt: 'embody_chaires', class: 'img-thumbnail', width: '200px'
            %td embody cahirs
            %td 12345-67890
            %td herman miller
            %td 999999
            %td 4.89
            %td 200,000
            %td 10
            %td 180,000
            %td -1000
          %tr
            %th{scope: "row"} 1
            %td
              = link_to 'https://www.hermanmiller.com/ja_jp/products/seating/office-chairs/sayl-chairs/', target: :blank do
                = image_tag 'sayl_chairs.jpg', alt: 'sayl_chaires', class: 'img-thumbnail', width: '200px'
            %td sayle cahirs
            %td 12345-67890
            %td herman miller
            %td 999999
            %td 4.89
            %td 200,000
            %td 10
            %td 180,000
            %td -1000
          %tr
            %th{scope: "row"} 1
            %td
              = link_to 'https://www.hermanmiller.com/ja_jp/products/seating/office-chairs/aeron-chairs/', target: :blank do
                = image_tag 'aeron_chairs.jpg', alt: 'aeron_chaires', class: 'img-thumbnail', width: '200px'
            %td aeron cahirs
            %td 12345-67890
            %td herman miller
            %td 999999
            %td 4.89
            %td 200,000
            %td 10
            %td 180,000
            %td -1000
          %tr
            %th{scope: "row"} 1
            %td
              = link_to 'https://www.hermanmiller.com/ja_jp/products/seating/office-chairs/embody-chairs/', target: :blank do
                = image_tag 'embody_chairs.jpg', alt: 'embody_chaires', class: 'img-thumbnail', width: '200px'
            %td embody cahirs
            %td 12345-67890
            %td herman miller
            %td 999999
            %td 4.89
            %td 200,000
            %td 10
            %td 180,000
            %td -1000
          %tr
            %th{scope: "row"} 1
            %td
              = link_to 'https://www.hermanmiller.com/ja_jp/products/seating/office-chairs/sayl-chairs/', target: :blank do
                = image_tag 'sayl_chairs.jpg', alt: 'sayl_chaires', class: 'img-thumbnail', width: '200px'
            %td sayle cahirs
            %td 12345-67890
            %td herman miller
            %td 999999
            %td 4.89
            %td 200,000
            %td 10
            %td 180,000
            %td -1000
  .row.justify-content-center
    %nav.mt-3{"area-label": "ページネーション" }
      %ul.pagination
        %li.pate-item.disabled
          = link_to '#', class: 'page-link', tabindex: "-1" do
            = '前'
        %li.pate-item.active
          = link_to '#', class: 'page-link' do
            = '1'
            %span.sr-only 現ページ
        %li.pate-item
          = link_to '#', class: 'page-link' do
            = '2'
        %li.pate-item
          = link_to '#', class: 'page-link' do
            = '3'
        %li.pate-item
          = link_to '#', class: 'page-link' do
            = '4'
        %li.pate-item
          = link_to '#', class: 'page-link' do
            = '5'
        %li.pate-item
          = link_to '#', class: 'page-link' do
            = '後'
        