%main.container-fluid
  .row.my-2
    -# 実行結果件数及び速度
    .col-4
      %span.small.text-secondary
        - if @searchResult.present?
          = "約 #{@searchResult.response["count"]} 件 (#{(Time.now - @startTime).round(3)})秒"
    -# 料金比較
    .col-8
      %form#comparisonForm.form-inline.justify-content-end
        %input#comparisonText.form-control.form-control-sm.mr-sm-2.w-25{type: "number"}
        %button#comparisonBtn.btn.btn-success.btn-sm.my-2.my-sm-0 Comparison
  -# 検索結果テーブル
  .row.justify-content-center
    .table-responsive
      %table#resultTable.table.table-striped.table-hover
        %thead.thead-dark
          %tr
            %th{scope: "col"} rec
            %th{scope: "col"} thumnail
            %th{scope: "col"} shopName
            -# %th{scope: "col"} itemCode
            %th{scope: "col"} itemName
            %th{scope: "col"} reviewCount
            %th{scope: "col"} reviewAverage
            %th{scope: "col"} itemPrice
            %th{scope: "col"} pointRate
            %th{scope: "col"} realPrice
            %th{scope: "col"} comparison
        %tbody
          - if @searchResult.present?
            - @items.each_with_index do |item, num|
              %tr
                %th{scope: "row"}
                  = num + 1
                %td
                  = link_to item['itemUrl'], target: :blank do
                    - if item['smallImageUrls'][0].present?
                      = image_tag item['smallImageUrls'][0], alt: 'aeron_chaires', class: 'img-thumbnail', width: '200px'
                %td
                  = item['shopName']
                -# %td
                -#   = item['itemCode']
                %td.td-itemName
                  = item['itemName']
                %td
                  = item['reviewCount']
                %td
                  = item['reviewAverage']
                %td.itemPrice
                  = (item['itemPrice']).to_s(:delimited)
                %td
                  = item['pointRate']
                %td.realPrice
                  = (item['itemPrice'].to_i * ( 1 - item['pointRate'].to_i * 0.01)).floor.to_i
                %td.comparisonValue

  - if @items.present?
    .row.justify-content-center
      = paginate @items