.jumbotron.jumbtron-fluid.mb-0
  = form_with url: search_words_search_path, method: 'GET', class: 'form-inline justify-content-center', local: true do |f|
    = f.text_field :keyword, class: 'form-control mr-sm-2 w-50'
    = f.submit 'Search', class: 'btn btn-primary my-2 my-sm-0'

- if @items.present?
  - @items.first(10).each do |item|
    %p
      = link_to (image_tag(item['smallImageUrls'][0], style: "wdisplay: inline-block;")), item['itemUrl']
      = item['shopName']
      = item['pointRate']